:root {
  /* Colores principales */
  --naranja: #e6ae48;
  --gris: #393939;
  --blanco: white;
  /* Colores secundarios */
  --grisClaro: #a7a7a7;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

p a {
  display: inline-flex;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, strong {
  font-size: inherit;
  font-weight: inherit;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

::selection {
  background-color: var(--naranja);
  color: var(--blanco);
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  color: var(--gris);
  background-color: var(--blanco);
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 100%;
  min-height: 50px;
  background-color: var(--blanco);
  position: fixed;
  top: 0;
  left: 0;
}

.header .centrado {
  width: 93%;
  /* min-height: 50px; */
  /* background-color: lightblue; */
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: initial;
}

.header .h1 {
  width: 100%;
  max-width: 135px;
  /* min-height: 50px; */
  /* background-color: lavender; */
  font-size: 2em;
  font-weight: 800;
}

.header .fas {
  display: none;
}

.header .menu {
  width: calc( 100% - 135px );
  /* min-height: 50px; */
  /* background-color: lemonchiffon; */
}

.header .ul {
  width: 100%;
  /* min-height: 50px; */
  /* background-color: lightgreen; */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: initial;
  font-weight: 700;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header .li {
  /* width: calc( 50% / 5 ); */
  margin: 0 0 0 4em;
  position: relative;
  transition: all 0.5s ease;
}

.header .a {
  transition: all 0.5s ease;
}

.header .a:hover {
  color: var(--naranja);
}

.header .ul2 {
  display: none;
  width: 100%;
  min-width: 18em;
  background-color: var(--blanco);
  border-top: var(--naranja) 0.5em solid;
  padding: 1em 0;
  font-size: 0.9em;
  font-weight: 400;
  color: var(--grisClaro);
  letter-spacing: 0em;
  text-transform: capitalize;
  position: absolute;
}

.header .li2 {
  padding: 1em 1.5em;
  z-index: 5;
}

.header .li2.izq {
  display: flex;
  justify-content: flex-end;
}

.header .li:hover .ul2 {
  display: block;
}

.header .ul2.izq.shop {
  transform: translateX(-9em);
  min-width: 15em;
}

.main {
  width: 100%;
  padding-top: 10vh;
  /* background-color: lightblue; */
}

.main .producto {
  width: 100%;
  min-height: 100vh;
  /* background-color: lightblue; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
}

.main .centrado {
  width: 90%;
  max-width: 1100px;
  /* background-color: lightgreen; */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: initial;
}

.main .columna {
  width: calc( 90% / 2 );
  /* background-color: lightcoral; */
}

.main .h2 {
  /* background-color: lightpink; */
  text-transform: uppercase;
  font-size: 2.1em;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.main .raya {
  width: 100%;
  max-width: 110px;
  min-height: 2px;
  background-color: var(--gris);
  margin: 2em 0;
  display: inline-flex;
}

.main .p {
  /* background-color: lightsteelblue; */
  margin: 0 0 2em;
  line-height: 1.9em;
}

.main .a {
  padding: 1em 2em;
  display: inline-flex;
  border: 0.2em solid var(--naranja);
  color: var(--naranja);
  font-weight: 700;
  font-size: 0.7em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.main .a:hover {
  color: var(--blanco);
  background: var(--naranja);
}

.main .amarillo {
  background-color: var(--naranja);
  color: var(--blanco);
}

.main .amarillo .centrado {
  flex-flow: row-reverse wrap;
  text-align: right;
}

.main .amarillo .raya {
  background-color: var(--blanco);
}

.main .amarillo .a {
  color: var(--blanco);
  border: 0.2em solid var(--blanco);
}

.main .amarillo .a:hover {
  background: var(--blanco);
  color: var(--naranja);
}

.footer {
  width: 100%;
  background-color: var(--gris);
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
  text-align: center;
}

.footer .centrado {
  width: 80%;
  max-width: 1100px;
  /* background-color: aqua; */
}

.footer .centrado .h3 {
  font-size: 4em;
  color: var(--blanco);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.18em;
}

.footer .centrado .copy {
  color: var(--naranja);
  font-size: 0.8em;
}

.footer .centrado .linea {
  width: 100%;
  max-width: 120px;
  min-height: 2px;
  background-color: var(--blanco);
  margin: 2em 0;
  display: inline-flex;
}

.footer .centrado .ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
  margin: 2em 0;
}

.footer .centrado .ul .li .a {
  width: 25px;
  height: 25px;
  background-color: var(--blanco);
  border-radius: 50%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
  color: var(--gris);
  margin: 0 0.5em;
  transition: all 0.5s ease;
}

.footer .centrado .ul .li .a:hover {
  background-color: var(--naranja);
}

@media screen and (max-width: 960px) {
  .header .centrado {
    flex-direction: row-reverse;
  }

  .header .fas {
    display: flex;
  }

  .header .menu {
    display: none;
  }

  .header .menu.ver {
    display: flex;
    position: absolute;
    transform: translateX(-10em) translateY(1em);
  }

  .header .menu .ul {
    display: flex;
    flex-flow: column;
    background-color: var(--blanco);
    position: absolute;
  }

  .header .menu .ul .li {
    padding: 1em;
  }

  .header .menu .ul .li .ul2 {
    display: none;
    position: absolute;
    z-index: 2;
  }

  .header .menu .ul .li .ul2.ver {
    display: block;
  }

  .header .ul2.izq.shop {
    transform: translateX(0);
  }

  .header .li2.izq {
    justify-content: flex-start;
  }

  .main .producto .centrado {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    align-items: initial;
    text-align: center;
    margin: 3em 0 0 0;
  }

  .main .producto .columna {
    margin: auto;
  }

  .main .producto .h2 {
    margin: 1.5em 0 0;
    font-size: 1.5em;
  }

  .main .producto .centrado .columna .p {
    font-size: 0.8em;
  }

  .main .producto .centrado .columna .a {
    margin: 0 0 5em 0;
  }
}
@media screen and (prefers-color-scheme: dark) {
  :root {
    --amarillo: #e6ae48;
    --gris: white;
    --blanco: #393939;
  }
}