*{  
    margin:0;
    padding:0;
    border:0;
    box-sizing: border-box;
}
a{
    display: block;
    color:inherit;
    text-decoration: none;
}
p a{
    display: inline-flex;
}
li{
    list-style-type: none;
}
h1 , h2 , h3 , h4 , h5 , h6 , strong{
    font-size: inherit;
    font-weight: inherit;
}
img{
    width:100%;
    display: block;
    object-fit: cover;
}
::selection{
    background-color: #e6ae48;
    color:white;
}
html{
    scroll-behavior: smooth;
}
body{
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    color:black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 



.cuadrado{
    width:50%;
    min-height: 300px;
    background-color: red;
}



@media screen and (max-width:960px){
    /* Lo que escriba aquí dentro: 0 --- 960px  */
    .cuadrado{
        background-color: lime;
    }
}
@media screen and (max-width:768px){
    .cuadrado{
        background-color: hotpink;
    }
}
@media screen and (max-width:480px){
    .cuadrado{
        background-color: salmon;
    }
}
@media screen and (max-width:320px){
    .cuadrado{
        background-color: black;
    }
}